<table class="table table-bordered"  *ngIf="yahtzeeBoard">
  <tr>
    <th>Name</th>
    <th *ngFor="let itemScore of yahtzeeBoard.scores">{{itemScore.name}}</th>
  </tr>
  <tr>
    <td>Ones</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.ones" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Twos</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.twos" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Threes</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.threes" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Fours</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.fours" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Fives</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.fives" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Sixes</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.sixes" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Bonus [63]</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">{{itemScore.bonus}}</td>
  </tr>
  <tr>
    <td>1 Pair</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.pair" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>2 Pair</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.doublePair" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>3 of a kind</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.threeOfAKind" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>4 of a kind</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.fourOfAKind" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Small Straight</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.smallStraight" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Large Straight</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.largeStraight" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Full House</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.fullHouse" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Chance</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.chance" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Yahtzee</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">
      <app-item-score [itemScore]="itemScore.yahtzee" [columnUser]="itemScore.name" [yahtzeeBoard]="yahtzeeBoard"></app-item-score>
    </td>
  </tr>
  <tr>
    <td>Total</td>
    <td *ngFor="let itemScore of yahtzeeBoard.scores">{{itemScore.total}}</td>
  </tr>
</table>
